<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
        <title>something something</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'create_receipt' %}">New Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">New Account</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">New Category</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">See All Receipts</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">See Accounts</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Expenses</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% comment %} {% for categories in category_list.categories.all %} {% endcomment %}
                    {% for categories in category_list.all %}
                    <tr>
                        <td>{{ categories.name }}</td>
                        <td>{{ categories.receipts.category|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
