<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
        <title>something something</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'create_receipt' %}">New Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">New Account</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">New Category</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">See All Receipts</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">See Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'category_list' %}">See All Categories</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    <li>
                        <a href"{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipts in home.all %}
                    <tr>
                        <td>{{ receipts.vendor }}</td>
                        <td>{{ receipts.total }}</td>
                        <td>{{ receipts.tax }}</td>
                        <td>{{ receipts.date|date:"m/d/y" }}</td>
                        <td>{{ receipts.category.name }}</td>
                        <td>{{ receipts.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
